In [75]:
import pandas as pd
import numpy as np

In [76]:
ratings  = pd.read_csv('dataset/ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [77]:
movies  = pd.read_csv('dataset/movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [78]:
dataset = movies.merge(ratings, on = 'movieId')[['movieId', 'title', 'userId', 'rating']]
dataset.columns = ['MovieId', 'MovieTitle', 'UserId', 'Rating']
dataset.set_index('MovieId', inplace = True)
dataset

                                        MovieTitle  UserId  Rating
MovieId
1                                 Toy Story (1995)       1     4.0
1                                 Toy Story (1995)       5     4.0
1                                 Toy Story (1995)       7     4.5
1                                 Toy Story (1995)      15     2.5
1                                 Toy Story (1995)      17     4.5
...                                            ...     ...     ...
193581   Black Butler: Book of the Atlantic (2017)     184     4.0
193583                No Game No Life: Zero (2017)     184     3.5
193585                                Flint (2017)     184     3.5
193587         Bungo Stray Dogs: Dead Apple (2018)     184     3.5
193609         Andrew Dice Clay: Dice Rules (1991)     331     4.0

[100836 rows x 3 columns]

In [79]:
# Finding the user having total rating 200 or more
x = dataset.groupby('UserId').count()['Rating'] > 200
user_rating_200 = x[x].index

In [80]:
# Filtered dataset where only which users are present who gave total rating 200 or more
filtered_dataset = dataset[dataset['UserId'].isin(user_rating_200)]
filtered_dataset

                                    MovieTitle  UserId  Rating
MovieId
1                             Toy Story (1995)       1     4.0
1                             Toy Story (1995)      18     3.5
1                             Toy Story (1995)      19     4.0
1                             Toy Story (1995)      21     3.5
1                             Toy Story (1995)      45     4.0
...                                        ...     ...     ...
188797                              Tag (2018)     514     4.0
188833   The Man Who Killed Don Quixote (2018)     318     4.5
189381                         SuperFly (2018)     318     2.5
189713                   BlacKkKlansman (2018)     462     2.5
190183                The Darkest Minds (2018)      50     3.5

[68284 rows x 3 columns]

In [81]:
# Finding the famous movie having ratings of atleast 50
y =  dataset.groupby('MovieTitle').count()['Rating'] > 50
famous_movies = y[y].index

In [82]:
final_dataset = filtered_dataset[filtered_dataset['MovieTitle'].isin(famous_movies)]
final_dataset

               MovieTitle  UserId  Rating
MovieId
1        Toy Story (1995)       1     4.0
1        Toy Story (1995)      18     3.5
1        Toy Story (1995)      19     4.0
1        Toy Story (1995)      21     3.5
1        Toy Story (1995)      45     4.0
...                   ...     ...     ...
122904    Deadpool (2016)     561     2.0
122904    Deadpool (2016)     586     4.0
122904    Deadpool (2016)     596     4.0
122904    Deadpool (2016)     599     3.5
122904    Deadpool (2016)     610     3.0

[22706 rows x 3 columns]

In [83]:
# Creating the pivot table 
pt = final_dataset.pivot_table(index='MovieTitle', columns='UserId', values='Rating')
pt.fillna(value = 0, inplace=True)
pt

UserId,1,4,6,18,19,20,21,28,41,42,...,594,596,597,599,600,603,605,606,608,610
MovieTitle,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,3.0,3.0,3.0,5.0,0.0,0.0,0.0
12 Angry Men (1957),0.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey (1968),0.0,0.0,0.0,4.0,3.0,0.0,0.0,3.0,2.0,5.0,...,0.0,4.0,0.0,5.0,4.0,5.0,0.0,5.0,3.0,4.5
28 Days Later (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,4.0,0.0,3.0,3.0,0.0,0.0,0.0,3.5,5.0
300 (2007),0.0,0.0,0.0,3.5,0.0,0.0,3.5,4.5,2.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X-Men: The Last Stand (2006),0.0,0.0,0.0,4.0,0.0,0.0,3.5,0.0,0.0,0.0,...,0.0,1.5,0.0,2.5,0.0,0.0,0.0,0.0,4.0,3.0
X2: X-Men United (2003),0.0,0.0,0.0,4.0,0.0,4.0,0.0,2.5,0.0,0.0,...,4.5,4.0,0.0,3.0,0.0,0.0,0.0,0.0,4.0,4.0
Young Frankenstein (1974),5.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,3.5,4.0,5.0,0.0,3.5,0.0,0.0
Zombieland (2009),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.5,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.5
Zoolander (2001),0.0,0.0,0.0,3.0,0.0,3.5,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,4.5,0.0,0.0,0.0,3.0,4.0

In [94]:
import pickle
pickle.dump(pt.to_dict(), open('movies_dict.pkl','wb'))

In [84]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(pt)
similarity # similarity score of each movie wrt another

array([[1.        , 0.15842923, 0.27817594, ..., 0.27965673, 0.29336689,
        0.41236375],
       [0.15842923, 1.        , 0.33998088, ..., 0.33593663, 0.35077639,
        0.26347315],
       [0.27817594, 0.33998088, 1.        , ..., 0.55508099, 0.40357579,
        0.29471882],
       ...,
       [0.27965673, 0.33593663, 0.55508099, ..., 1.        , 0.35976135,
        0.3863562 ],
       [0.29336689, 0.35077639, 0.40357579, ..., 0.35976135, 1.        ,
        0.42587493],
       [0.41236375, 0.26347315, 0.29471882, ..., 0.3863562 , 0.42587493,
        1.        ]])

In [95]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [100]:
def recommand(movie_name):
    #fetching Index of the movie
    index = np.where(pt.index == movie_name)[0][0]
    # Find Similarity
    similar_items = sorted(list(enumerate(similarity[index])), key = lambda x : x[1], reverse = True)[1:6]
    
    for i in similar_items:
        print(pt.index[i[0]])

In [96]:
from imdb import IMDb

def recommand(movie_name):
    #fetching Index of the movie
    index = np.where(pt.index == movie_name)[0][0]
    # Find Similarity
    similar_items = sorted(list(enumerate(similarity[index])), key = lambda x : x[1], reverse = True)[1:6]
    
    ia = IMDb()
    
    for i in similar_items:
        movies = ia.search_movie(pt.index[i[0]])
        if movies:
            first_movie = movies[0]
            imdb_id = first_movie.movieID
            # print("IMDb ID:", imdb_id)
        else:
            print("No movie found with that name.")
        print(pt.index[i[0]],imdb_id)

In [101]:
recommand('X-Men: The Last Stand (2006)')

X2: X-Men United (2003)
Spider-Man 2 (2004)
Batman Begins (2005)
Matrix Reloaded, The (2003)
Pirates of the Caribbean: Dead Man's Chest (2006)

In [87]:
np.where(pt.index == 'X-Men: The Last Stand (2006)')[0][0]

432

In [99]:
from imdb import IMDb
# Create an instance of the IMDb class
ia = IMDb()

# Search for the movie by name
movies = ia.search_movie('X-Men: The Last Stand (2006)')

# Check if any movie matches the search query
if movies:
    # Get the first movie in the search results
    first_movie = movies[0]
    
    # Get the IMDb ID of the movie
    imdb_id = first_movie.movieID
    
    print("IMDb ID:", imdb_id)
else:
    print("No movie found with that name.")

IMDb ID: 0376994

In [98]:
m = ia.search_movie('X-Men: The Last Stand (2006)')
result = m[0]
poster = dict(result)["full-size cover url"]
print(poster)

https://m.media-amazon.com/images/M/MV5BNDBhNDJiMWEtOTg4Yi00NTYzLWEzOGMtMjNmNjAxNTBlMzY3XkEyXkFqcGdeQXVyNTIzOTk5ODM@.jpg

In [104]:
movies_dict = pickle.load(open('movies_dict.pkl', 'rb'))
movies_df = pd.DataFrame(movies_dict)
similarity = pickle.load(open('similarity.pkl', 'rb'))


def recommand(movie_name):
    index = np.where(movies_df.index == movie_name)[0][0]
    similar_items = sorted(list(enumerate(similarity[index])), key = lambda x : x[1], reverse = True)[1:6]
    
    ia = IMDb()

    recommended_movies = []
    recommended_movies_posters = []
    
    for i in similar_items:
        # Similar Movie
        recommended_movies.append(movies_df.index[i[0]])
        # Similar Movie Poster
        m = ia.search_movie(movies_df.index[i[0]])
        result = m[0]
        # poster = dict(result)["full-size cover url"]
        recommended_movies_posters.append(result.keys())

    return recommended_movies, recommended_movies_posters

In [106]:
names, posters = recommand('X-Men: The Last Stand (2006)')

['X2: X-Men United (2003)', 'Spider-Man 2 (2004)', 'Batman Begins (2005)', 'Matrix Reloaded, The (2003)', "Pirates of the Caribbean: Dead Man's Chest (2006)"] https://m.media-amazon.com/images/M/MV5BNDBhNDJiMWEtOTg4Yi00NTYzLWEzOGMtMjNmNjAxNTBlMzY3XkEyXkFqcGdeQXVyNTIzOTk5ODM@.jpg